site_name: Pytho's Cybersecurity Notes
theme:
  name: material

  palette: 
      scheme: slate
      primary: black

  font:
    text: Press Start 2P
    code: Roboto Mono

  features:
    - navigation.instant
    - navigation.instant.progress
    - navigation.instant.preview
    - navigation.tracking
    - navigation.tabs
    - navigation.tabs.sticky
    - navigation.expand
    - search.highlight
    - search.suggest
    - search.share
    - 

plugins:
  - tags
  - glightbox

markdown_extensions:
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences
  - attr_list
  - md_in_html
  - pymdownx.blocks.caption
  - toc:
      permalink: true

nav:
    - Home: index.md
    - Walkthroughs: 
      - walkthroughs/walkthroughs.md
      - HackTheBox: 
        - Artificial: walkthroughs/HackTheBox/Artificial.md
        - Strutted: walkthroughs/HackTheBox/Strutted.md
    - Cheatsheets: 
      - cheatsheets/cheatsheets.md
      - cheatsheets/shell.md
    - Certifications: certifications/certifications.md
    - Contact: contact.md

extra_css:
  - css/extra.css

copyright: |
  &copy; 2025 <a href="https://github.com/Pytho2535">Pytho</a>. All rights reserved.